#page-wrap {
	width: 900px; 
	margin: 15px auto; 
	position: relative;
}

#sidebar {
    width: 500px;
    position: fixed;
    background-color: #404040;
    color: white;
    padding: 20px;
    padding-top: 0;
    text-align: center;
    right: 0;
    margin-right: 200;
    top: 300;
}

#body-format {
    height: 1500;
    width: 500
}
h2 {
    font-family:'Calibri';
    font-size: 42;
}

p {
    font-family: 'Calibri';
    font-size: 24;
}

a {
	color: yellow;
	font-family: 'Calibri';
	font-size: 24;
}

br {
   content: " ";
}

h3 {
	font-family:'Calibri';
    font-size: 24;
}
.radio-css-label {
    font-family: 'Calibri';
    font-size: 22;
}
.slider-css-label {
    font-family: 'Calibri';
    font-size: 26;
}

.bar-y-axis-label {
    font-family: 'Calibri';
    font-size: 24;
}

.bar-x-axis-label {
    font-family: 'Calibri';
    font-size: 18;
}

.line-legend-text {
    font-family: 'Calibri';
    font-size: 20;
}

#selections {
    left: 20;
    margin-right: 10;
    top: 100;
    position: absolute;
}

#options-header {
    text-align: center;
}

.bar-title {
    font-size: 24;
}